body {
  background: #fcfcfc;
}

:root {
  /* gray colors */
  --gray-900: #111827;
  --gray-800: #1f2937;
  --gray-700: #374151;
  --gray-600: #4b5563;
  --gray-500: #6b7280;
  --gray-400: #9ca3af;
  --gray-200: #e5e7eb;
  --gray-100: #f3f4f6;
  --gray-50: #f9fafb;

  /* primary colors */
  --primary-100: #3692ff;
}
/* header */
header {
  width: 100%;
  padding: clamp(6px, 1.5vw, 12px);
  background: #fff;
  border-bottom: 1px solid #dfdfdf;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  padding: 0 200px;
}

.login-btn {
  display: inline-block;
  background: var(--primary-100);
  color: #f3f4f6;
  border: none;
  width: clamp(100px, 15vw, 128px);
  height: clamp(40px, 6vw, 48px);
  padding: 12px 23px;
  border-radius: 8px;
  cursor: pointer;
  font-size: clamp(13px, 2vw, 16px);
  font-weight: 600;
  text-align: center;
}

.login-btn:hover {
  background: #1251aa;
}

/* Banner */
.banner-wrap {
  background: #cfe5ff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 540px;
}

.banner-box {
  width: 357px;
  margin-bottom: 40px;
}

.banner-title {
  font-size: clamp(26px, 5vw, 40px);
  font-weight: bold;
  color: #374151;
  line-height: 140%;
}

.banner-wrap.is-bottom {
  margin-top: 138px;
}

.banner-wrap.is-bottom > .banner-title {
  margin-bottom: 172px;
}

.banner-wrap.is-bottom > .banner-image {
  height: 397px;
}

.btn {
  display: inline-block;
  background: var(--primary-100);
  color: #f3f4f6;
  border: none;
  width: 357px;
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  cursor: pointer;
  font-size: clamp(18px, 3.5vw, 20px);
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 60px;
}

.btn:hover {
  background: #1565c0;
}

.banner-image {
  width: 746px;
  height: 340px;
  overflow: hidden;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Main Content */
.main-container {
  width: 100%;
  margin: 0 auto;
}

.content-wrap {
  max-width: 988px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 138px auto;
  padding: 0 20px; */

  margin: 0 auto;
  padding: 138px 20px;
  background-color: #fcfcfc;
}

.content-wrap:nth-child(2) {
  flex-direction: row-reverse;
  padding: 138px 14px;
}
.content-wrap:nth-child(3) {
  padding: 138px 0;
}

.content-image {
  width: 579px;
  height: 444px;
  overflow: hidden;
}

.content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content-box {
  width: 298px;
  text-align: left;
}

.content-wrap:nth-child(2) > .content-box {
  width: 317px;
  text-align: right;
}
.content-wrap:nth-child(3) .content-box {
  width: 359px;
}

.tag {
  display: inline-block;
  color: var(--primary-100);
  font-size: clamp(15px, 2.2vw, 18px);
  margin-bottom: 12px;
  line-height: 26px;
}

.content-box h2 {
  margin-bottom: 24px;
  font-weight: 799;
  font-size: clamp(26px, 5vw, 40px);
  line-height: 140%;
  color: #374151;
}

.content-box p {
  font-weight: 500;
  color: #374151;
  font-size: clamp(16px, 3vw, 24px);
}

/* Footer */
footer {
  width: 100%;
  background: #111827;
  color: #9ca3af;
  padding: 32px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: auto;
}

.copyright {
  font-size: clamp(13px, 2vw, 16px);
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  font-size: clamp(13px, 2vw, 16px);
}

.footer-links a:hover {
  text-decoration: underline;
}

.social-wrap {
  display: flex;
  gap: 12px;
}

.social-link {
  cursor: pointer;
  opacity: 0.8;
}

.social-link:hover {
  opacity: 1;
}

.social-link img {
  width: 20px;
  height: 20px;
}

/* login */
.page-wrapper {
  display: grid;
  place-items: center;
  padding-top: 100px;
}

.login-container {
  display: grid;
  width: 100%;
  max-width: 640px;
  padding: 48px 24px;
}

.login-logo-wrap {
  display: grid;
  justify-items: center;
  gap: 16px;
}

.form-wrap {
  display: grid;
  gap: 24px;
}

.input-group {
  display: grid;
  gap: 8px;
}

.input-label {
  font-size: 18px;
  font-weight: 700;
  color: var(--gray-800);
}

.input-field {
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  font-size: 16px;
  border: none;
  border: 1px solid var(--gray-50);
  background: var(--gray-50);
}

.input-field:focus {
  outline: none;
  border-color: var(--primary-100);
  border: 1px solid #9ca3af;
}

.input-field::placeholder {
  color: var(--gray-500);
}

.password-input-wrapper > .input-field {
  padding-right: 50px;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-toggle {
  position: absolute;
  right: 16px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.btn.login {
  width: 100%;
  padding: 16px 0px;
  margin: 0 0 24px 0;
}

.social-login-wrap {
  display: flex;
  width: 100%;
  height: 74px;
  background: #e6f2ff;
  justify-content: space-between;
  align-items: center;
  padding: 16px 23px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.social-login-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: var(--gray-800);
}

.social-login-icons ul {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.signup-link {
  margin: auto;
}

.signup-link a {
  color: var(--primary-100);
  text-decoration: underline;
}

/* 반응형 */
@media (max-width: 774px) {
  .page-wrapper {
    padding-top: 0px;
  }

  .header-wrap {
    padding: 0 20px;
  }
  /* Banner */
  .banner-wrap {
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    padding: 40px 0 0 0;
    height: auto;
    text-align: center;
    margin: auto;
  }

  .banner-box {
    width: 100%;
  }

  .banner-title {
    font-size: clamp(26px, 5vw, 40px);
    font-weight: bold;
    color: #374151;
    line-height: 140%;
  }
  .banner-image {
    width: 100%;
    height: 340px;
    overflow: hidden;
  }

  /* Main Content */
  .content-wrap {
    max-width: 100%;
    flex-direction: column;
    justify-content: normal;
    align-items: flex-start;
    margin: 130px auto;
    padding: 0 20px !important;
    background-color: #fcfcfc;
  }

  .content-wrap:nth-child(2) {
    flex-direction: column;
    justify-content: normal;
    align-items: flex-end;
  }

  .content-image {
    width: 100%;
    height: 444px;
    overflow: hidden;
  }

  .content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .content-box {
    width: 298px;
    text-align: left;
  }

  .tag {
    margin-bottom: 4px;
  }
  .content-box h2 {
    margin-bottom: 10px;
  }

  .banner-wrap.is-bottom > .banner-title {
    margin-top: 80px;
    margin-bottom: 130px;
  }
}
